.reason {
  .reasonTop {
    display: flex;
    height: 5.2rem;
    justify-content: space-between;
    align-items: center;
    >div {
      &:first-child {
        font-size: 1.4rem;
        font-weight: 500;
        color: #222222;
      }
      &:last-child {
        >img {
          width: 2.4rem;
          height: 2.4rem;
          transform: rotate(90deg);
        }
      }
    }
  }
  .reasonBtm {
    font-size: 1rem;
    line-height: 1.5;
    color: #ababab;
    padding-bottom: 1.6rem;
  }
}
.amount {
  display: flex;
  height: 5.2rem;
  justify-content: space-between;
  align-items: center;
}
.price {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 7.4rem;
  position: relative;
  .priceNote {
    margin-top: 0.8rem;
    font-size: 1rem;
    color: #ababab;
    span {
      font-family: "SFUIDisplayRegular";
    }
  }
  .priceNum {
    font-family: "SFUIDisplayMedium";
    font-size: 1.6rem;
    color: #ff3c50;
  }
  input {
    position: absolute;
    right: 1000rem;
  }
}

.note {
  padding: 1.6rem;
  position: relative;
  .noteText {
    margin-top: 0.8rem;
    height: 9rem;
    font-size: 1.2rem;
    color: #616161;
    width: 100%;
    word-break: break-all;
  }
  .noteNum {
    position: absolute;
    right: 1.6rem;
    bottom: 1.6rem;
    font-size: 1.2rem;
    color: #cccccc;
    span {
      color: #ff3c50;
    }
  }
}
.connecter {
  display: flex;
  align-items: center;
  padding: 1.6rem;
  .connecterPhone {
    font-size: 1.2rem;
    color: #616161;
    margin-left: 0.8rem;
  }
}

.photo {
  padding: 1.6rem;

}

.label {
  font-size: 1.4rem;
	font-weight: 500;
	color: #222222;
}
.submit {
  position: fixed;
  bottom: 0;
  width: 100%;
	height: 5rem;
	background-color: #ffffff;
  box-shadow: 0 -6px 6px 0 rgba(220, 220, 220, 0.2);
  div {
    width: 35.5rem;
    height: 3.4rem;
    border-radius: 1.7rem;
    background-color: #ff3c50;
    border: solid 1px #ff3c50;
    margin: 0.75rem auto;
    font-size: 1.2rem;
    font-weight: 500;
    letter-spacing: 0.2rem;
    text-align: center;
    color: #f9f9f9;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}