.submit {
  position: fixed;
  bottom: 0;
  width: 100%;
	height: 5rem;
	background-color: #ffffff;
  box-shadow: 0 -6px 6px 0 rgba(220, 220, 220, 0.2);
  div {
    width: 35.5rem;
    height: 3.4rem;
    border-radius: 1.7rem;
    background-color: #ff3c50;
    border: solid 1px #ff3c50;
    margin: 0.75rem auto;
    font-size: 1.2rem;
    font-weight: 500;
    letter-spacing: 0.2rem;
    text-align: center;
    color: #f9f9f9;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}